<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<link href="responsive-calendar/css/responsive-calendar.css" rel="stylesheet">
    <title>Calendário</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://static.tumblr.com/5dbytsa/WS3merges/entrada.css" media="screen"/>
    <!-- Custom CSS -->
    <link href="css/logo-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img  class="img-responsive2" src="imagem2.png" alt="" style="width:200px; padding-top:10px;">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="padding:5px">
                    
                    <li >
                              <a href="index.php" style=" ">Home</a>
                    </li>     
                     <li >
                              <a href="aluno.html">Calendário</a>
                    </li>  
                     <li >
                               <button type="button"  id ="mm" class="btn btn-info btn-lg " data-toggle="modal" data-target="#myModal" ">Receber notificações</button>
                    </li>
                      

  <!-- Modal -->

  
                                
                            </ul>
                        
              
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="jumbotron" id="inicial">
                
                <div class="container">
                    <!-- Responsive calendar - START -->
                    <div class="responsive-calendar">
                        <div class="controls">
                            <a class="pull-left" data-go="prev"><div class="btn btn-primary">Anterior</div></a>
                            <h4><span data-head-year></span> <span data-head-month></span></h4>
                            <a class="pull-right" data-go="next"><div class="btn btn-primary">Próximo</div></a>
                        </div><hr/>
                        <div class="day-headers" style=" font-family:Calibri Light !important font-size:200%;">
                            <div class="day header">Seg</div>
                            <div class="day header">Ter</div>
                            <div class="day header">Qua</div>
                            <div class="day header">Qui</div>
                            <div class="day header">Sex</div>
                            <div class="day header">Sab</div>
                            <div class="day header">Dom</div>
                        </div>
                        <div class="days" data-group="days">

                        </div>
                    </div>
                    <!-- Responsive calendar - END -->
                </div>

            </div>

    <!-- Page Content -->
   
    <!-- /.container -->

    <!-- jQuery -->
      <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Notificações</h4>
        </div>
        <div class="modal-body">
          <form class="form-signin">
                                                                                <label for="inputEmail" class="sr-only">Email: </label>
                                                                                <input type="email" id="inputEmail" class="form-control" placeholder="Email: " required autofocus>
                                                                                </br>
   <select class="form-control" style="width:100%; border-radius:4px;height: 35px;margin-bottom:15px;padding-left:10px;font-size:100%; font-family:Calibri Light; color:gray;"  >
       <option value="volvo"><h4>Selecione disciplinas para receber notificações:</h4></option>
  <option value="volvo">AW2</option>
                                                                                
                                                                                                                                                              
  <option value="saab">BDA</option>
  <option value="mercedes">Física</option>
  <option value="audi">Educação Física</option> <option value="saab">GEE</option>
  <option value="mercedes">História </option>
  <option value="audi">Lp</option>
  <option value="audi">Matemática</option>
    <option value="audi">Português</option>
      <option value="audi">Qúimica</option>
      <option value="audi">Redes </option>
    <option value="audi">Sociologia</option>
      <option value="audi">TEI</option>
</select>
                                                                               
                                                                                <!--<a href="admin.html"><button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button></a>-->
                                                                                </br> <center><button type="button" class="btn btn-info btn-lg">Entrar</button><button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button></center>
                                                                            </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
      
    </div>
  </div>
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="./JS/jquery.min.js"><\/script>')</script>
   
    <script src="responsive-calendar/js/jquery.js"></script>
    <script src="responsive-calendar/js/bootstrap.min.js"></script>
    <script src="responsive-calendar/js/responsive-calendar.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".responsive-calendar").responsiveCalendar({
                time: '2017-07',
                events: {
                    //<?php
                    //?>
                    "2017-07-07": {"number": 6, "url": ""},
                    "2017-04-26": {"number": 1, "url": "http://w3widgets.com"},
                    "2017-05-03": {"number": 1},
                    "201-06-12": {}}
            });
        });
    </script>
</body>

</html>
