<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<link href="responsive-calendar/css/responsive-calendar.css" rel="stylesheet">
    <title>Notificações</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://static.tumblr.com/5dbytsa/WS3merges/entrada.css" media="screen"/>
    <!-- Custom CSS -->
    <link href="css/logo-nav.css" rel="stylesheet">
      <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img  class="img-responsive2" src="imagem2.png" alt="" style="width:200px; padding-top:10px;">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="padding:5px">
                    
                    <li >
                              <a href="index.html" style=" ">Home</a>
                    </li>     
                     <li >
                              <a href="aluno.html">Calendário</a>
                    </li>  
                     <li >
                              <a href="notfica.html">Receber notificações</a>
                    </li>
                      

  <!-- Modal -->

  
                                
                            </ul>
                        
              
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="jumbotron" id="inicial">
                <h2 style="color:rgb(155, 89, 182);">Portal do Usuário-3º Informática</h2>
                <div class="container" align="justify" id="conteiner1">
                <h4 align="left">Selecione as disciplinas que deseja receber notificações via e-mail.</h4>
                 <form>
                        <div class="form-group">
                            <label for="email"><p>Email:</p></label>
                            <input type="email" class="form-control" id="email">
                            
                        </div>
                   
                   </form>
                    <input type="checkbox" name="opcoes" value="AW" /> AW<br />
                    <input type="checkbox" name="opcoes" value="BDA"/> BDA<br />
                    <input type="checkbox" name="opcoes" value="Educação Física"/> Educação Física<br />
                    <input type="checkbox" name="opcoes" value="Física"/> Física<br />
                    <input type="checkbox" name="opcoes" value="GEE"/> GEE<br />
                    <input type="checkbox" name="opcoes" value="História"/>História<br />
                    <input type="checkbox" name="opcoes" value="LP"/> LP<br />
                    <input type="checkbox" name="opcoes" value="Matemática"/> Matemática<br />
                    <input type="checkbox" name="opcoes" value="Português"/> Português<br />
                    <input type="checkbox" name="opcoes" value="Química"/> Química<br />
                    <input type="checkbox" name="opcoes" value="Redes"/> Redes<br />
                    <input type="checkbox" name="Sociologia" value="php"/> Sociologia<br />
                    <input type="checkbox" name="opcoes" value="TEI"/> TEI<br />
                <center>
                     <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal10" id="botao">Cadastrar</button>
                </div>
                </center>
                  

                    
                 
     </div>
</body>
</html>